<form action="contact_form" method="post">
  <label for="name">Enter name</label>
  <input type="text" name="name">
  <label for="age">Enter age</label>
  <input type="text" name="age">
  <label for="level">Enter level</label>
  <input type="text" name="level">
  <label for="email">Enter email</label>
  <input type="text" name="email">
  <label for="phone">Enter phone</label>
  <input type="text" name="phone">
  <label for="address">Enter address</label>
  <input type="text" name="address">
  <button type="submit">Enter Input and Save Contact</button>
</form>
